/* CSS voor mijn Portfolio */


/* Nodig voor het begin van de website: */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Nodig voor de header/nav bar: */

header {
    background-color: #3F0031;
    height: 100px;
    width: 100%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    height: 800px;
    width: 100%;
}

.emptypfp {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.links {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.lightmode {
    margin-right: 10px;
}

.light-head {
    background-color: #C137A3;
}

/* Voor de landing page: */

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #9C608A;
}

.imgdiv {
    height: 450px;
    width: 350px;
    background-color: gray;
    border-radius: 20px;
    margin-left: 40px;
    margin-bottom: 240px;
}

.home-text-div {
    font-size: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.portfolio-text {
    font-size: 70px;
}

.emptydiv {
    height: 450px;
    width: 350px;
    border-radius: 20px;
    margin-left: 40px;
    margin-bottom: 240px;
}

/* Voor de footer: */

.dark-foot {
    background-color: #3F0031;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.light-foot {
    background-color: #C137A3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Voor de contact page: */

.contactbody {
    height: 800px;
    width: 100%;
    background-color: #9C608A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacttext {
    height: 500px;
    width: 1000px;
    background-color: #3F0031;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 70px;
    align-items: center;
}

.textmargin {
    margin-top: 10px;
}

.mail {
    font-size: 50px;
}

.light-contactbody {
    height: 800px;
    width: 100%;
    background-color: #DC9FCA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-contacttext {
    height: 500px;
    width: 1000px;
    background-color: #C137A3;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 70px;
    align-items: center;
}

/* Font en Ul setup voor betere links: */

body {
    font-family: 'Itim';
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    height: 20px;
    width: 300px;
}

/* Voor about me page: */

.about-sizing {
    height: 1140px;
}

.lidl-box {
    height: 380px;
    width: 1345px;
    border-radius: 10px;
    background-color: #9C608A;
    border: 3px solid #ffffff;
    border-width: 5px;
    display: flex;
    flex-direction: row;
}

.lidl-text {
    margin-left: 20px;
    margin-top: 50px;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Itim'
}

.lidl-icon {
    margin-top: 30px;
    margin-left: 25px;
    width: 300px;
    height: 300px;
}

.roc-icon {
    margin-top: 80px;
    margin-left: 25px;
    width: 320px;
    height: 200px;
}

.light-lidl-box {
    height: 380px;
    width: 1360px;
    border-radius: 10px;
    background-color: #C137A3;
    border: 3px solid #ffffff;
    border-width: 5px;
    display: flex;
    flex-direction: row;
}

/* Voor de projects page: */

.projects-first {
    background-color: #9C608A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%
}

.light-projects-first {
    background-color: #DC9FCA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%
}

.images-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 600px;
}

.pinkGoose {
    height: 510px;
    width: 410px;
}

.RocWobsite {
    height: 360px;
    width: 540px;
}

.gooseBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 650px;
    width: 100%;
    background-color: #9C608A;
}

.spacing {
    margin-left: 100px;
}

/* Voor informatie over mijn projecten:  */

.informationBox {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 1000px;
}

.designerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right: none;
    border-left: none;
    border-color: #ffffff;
    width: 500px;
    height: 100px;
}

.gooseText {
    width: 100px;
}

.fixerText {
    height: 200px;
    margin-top: 10px;
}

.light-background {
    background-color: #DC9FCA;
}

/* Voor de kleuren */

.light {
    background-color: #DC9FCA;
}

.bright {
    background-color: #C137A3;
}

/* Responsiveness */

@media only screen and (max-width: 600px) {

    /* Voor de Nav Bar: */

    .ul {
        font-size: 10px;
    }
    .links {
        justify-content: space-between;
        width: 60%;
    }
    .lightmode {
        height: 50px;
        width: 50px;
        margin-top: 20px;
    }
    .emptypfp {
        height: 50px;
        width: 50px;
        margin-top: 20px;
    }

    /* Voor de landing page: */

    .dark-home {
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    .light-home {
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    .home-text-div {
        font-size: 25px;
        margin-top: -240px;
    }
    .portfolio-text {
        font-size: 25px;
    }
    .imgdiv {
        margin-right: 35px;
        margin-top: 10px;
    }

    /* Voor de contact page: */

    .contactbody {
        height: 400px;
    }
    .light-contactbody {
        height: 400px;
    }
    .contacttext {
        font-size: 30px;
        width: 100%;
        height: 70%;
    }
    .light-contacttext {
        font-size: 30px;
        width: 100%;
        height: 70%;
    }
    .mail {
        font-size: 30px;
    }

    /* Voor de About Page: */

    .lidl-box {
        height: 130px;
        width: 100%;
    }
    .light-lidl-box {
        height: 130px;
        width: 100%;
    }

    .lidl-text {
        font-size: 15px;
        margin-top: 20px;
    }
    .lidl-icon {
        margin-top: 10px;
        width: 100px;
        height: 100px;
    }
    .roc-icon {
        margin-top: 10px;
        width: 100px;
        height: 100px;
    }

    /* Voor de Projects Page:  */


    .projects-first {
        height: 500px;
        justify-content: space-between;
    }
    .light-projects-first {
        height: 500px;
        justify-content: space-between;
    }
    .images-box {
        height: 100%;
        width: 350px;
        align-items: center;
        justify-content: space-between;
    }
    .pinkGoose {
        height: 175px;
        width: 150px;
    }
    .RocWobsite {
        height: 175px;
        width: 150px;
    }

    /* Voor de PinkGoose Page:  */


    .gooseBox {
        flex-direction: column;
        align-items: center;
    }
    .informationBox {
        height: 600px;
        width: 200px;
    }
    .designerBox {
        font-size: 15px;
        width: 300px;
        height: 200px;
    }
    .spacing {
        margin-left: 0;
        margin-top: 10px;
    }
    .fixerText {
        margin-top: 0;
    }

    
  }